body {
  font-family: Montserrat;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}

@media (max-width: 990px){
  .media-center {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 990px){
  .media-dissapear {
    display: none;
  }
}

/*Title*/
.container-fluid {
  padding: 3% 15%;
}
button {
  border-width: 0.65rem;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #212121;
  margin: 5px 15px;
  outline: none;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.5rem;
  color: #FFFFFF;
}
#title {
  min-height: 650px;
  max-height: 650px;
  color: white;
  padding: 0;
  margin: 0;
}
#title .bg-image {
  display: block;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%) scale(1.1, 1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1, 1.1);
  -moz-transform: translate(-50%, -50%) scale(1.1, 1.1);
  -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
  transform: translate(-50%, -50%) scale(1.1, 1.1);
  background: #999;
  text-align: center;
  z-index: -1;
}
.title-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.navbar-toggler {
  background-color: #212121;
  position: fixed;
  top: 0;
  right: 0;
}

/*What I Do SECTION*/
#services {
  text-align: center;
  margin: 0;
  background-color: #FFFFFF;
}
.titles {
  margin: 0 0 25px 0;
}
.boxes {
  display: inline-block;
  margin: auto;
  padding: 25px;
}
.icon-container {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #0d6efd;
  border-radius: 50%;
  margin-bottom: 25px;
}
.icon {
  font-size: 5rem;
  margin: auto;
  padding: auto;
}

/*Testimonial Section*/
#testimonials {
  padding: 7% 0;
  text-align: center;
  background-color: #212121;
  color: #ffffff;
}
#testimonials-carousel{
  width: 100%;
}
.testimonials-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin: 10px;
}

/*Portfolio Section*/
#portfolio {
  padding: 25px 15%;
  text-align: center;
  background-color: #FFFFFF;
}
.card {
  border-radius: 25px;
}

/*Footer Section*/
#footer {
  background-color: #FFFFFF;
}